 <!-- Comment For Now
        <header>
            <h1 id="welcomeMessage">Welcome Jesse</h1>
            <p id="lastLogin">last login: December 1, 2015</p>
        </header>
        -->
        <br>
        <br>
        <ul id="lifebars" class="collapsible" data-collapsible="expandable">
            <li id="jesseLifebar">
                <div class="collapsible-header"><i id="jesseIcon" class="material-icons playerIcon" data-name="jesse">perm_identity</i><span class="barName">Jesse</span>
                    <span class="lifeSection">
                        <button class="waves-effect waves-light btn lifeButton green" data-name="jesse" data-value="1">+1</button>
                        <button class="waves-effect waves-light btn lifeButton green" data-name="jesse" data-value="5">+5</button>
                        <a id="jesseLife" class="lifeNumber">40</a>
                        <button class="waves-effect waves-light btn lifeButton red" data-name="jesse" data-value="-1">-1</button>
                        <button class="waves-effect waves-light btn lifeButton red" data-name="jesse" data-value="-5">-5</button>
                    </span>
                </div>
                <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </li>
            <li id="patrickLifebar">
                <div class="collapsible-header"><i class="material-icons playerIcon" data-name="patrick">perm_identity</i><span class="barName">Patrick</span>
                    <span class="lifeSection">
                        <button class="waves-effect waves-light btn lifeButton green" data-name="patrick" data-value="1">+1</button>
                        <button class="waves-effect waves-light btn lifeButton green" data-name="patrick" data-value="5">+5</button>
                        <a id="patrickLife" class="lifeNumber">40</a>
                        <button class="waves-effect waves-light btn lifeButton red" data-name="patrick" data-value="-1">-1</button>
                        <button class="waves-effect waves-light btn lifeButton red" data-name="patrick" data-value="-5">-5</button>
                    </span>
                </div>
                <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </li>
            <li id="willLifebar">
                <div class="collapsible-header"><i class="material-icons playerIcon" data-name="will">perm_identity</i><span class="barName">Will</span>
                    <span class="lifeSection">
                        <button class="waves-effect waves-light btn lifeButton green" data-name="will" data-value="1">+1</button>
                        <button class="waves-effect waves-light btn lifeButton green" data-name="will" data-value="5">+5</button>
                        <a id="willLife" class="lifeNumber">40</a>
                        <button class="waves-effect waves-light btn lifeButton red" data-name="will" data-value="-1">-1</button>
                        <button class="waves-effect waves-light btn lifeButton red" data-name="will" data-value="-5">-5</button>
                    </span>
                </div>
                <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </li>
            <li id="kevinLifebar">
                <div class="collapsible-header"><i class="material-icons playerIcon" data-name="kevin">perm_identity</i><span class="barName">Kevin</span>
                    <span class="lifeSection">
                        <button class="waves-effect waves-light btn lifeButton green" data-name="kevin" data-value="1">+1</button>
                        <button class="waves-effect waves-light btn lifeButton green" data-name="kevin" data-value="5">+5</button>
                        <a id="kevinLife" class="lifeNumber">40</a>
                        <button class="waves-effect waves-light btn lifeButton red" data-name="kevin" data-value="-1">-1</button>
                        <button class="waves-effect waves-light btn lifeButton red" data-name="kevin" data-value="-5">-5</button>
                    </span>
                </div>
                <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </li>
            <li id="cjLifebar">
                <div class="collapsible-header"><i class="material-icons playerIcon" data-name="cj">perm_identity</i><span class="barName">CJ</span>
                    <span class="lifeSection">
                        <button class="waves-effect waves-light btn lifeButton green" data-name="cj" data-value="1">+1</button>
                        <button class="waves-effect waves-light btn lifeButton green" data-name="cj" data-value="5">+5</button>
                        <a id="cjLife" class="lifeNumber">40</a>
                        <button class="waves-effect waves-light btn lifeButton red" data-name="cj" data-value="-1">-1</button>
                        <button class="waves-effect waves-light btn lifeButton red" data-name="cj" data-value="-5">-5</button>
                    </span>
                </div>
                <div class="collapsible-body">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </li>
        </ul>
        <aside id="log" class="z-depth-2">
            <p>History</p>
            <hr>
            <div id="historyContent"></div>
        </aside>
        <section id="stats">
        </section>