<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Welcome to MTG Console</title>
    <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />
    <link href="assets/css/style.css">

</head>

<body>

    <h1>Welcome</h1>
    <div id="firebaseui-auth-container"></div>
    <p id="welcome"></p>
    <script src="firebase_config.js"></script>
    <script src="welcome.js"></script>
</body>

</html>
