.container {
  margin-top: 75px;
}

html {
  background: url("../images/mtgbackground3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#stickyNavBar {
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 0 20px;
}

.tinypic {
  height: 125px;
}

.btn {
  padding: 0 15px;
  margin: auto 5px;
}

.name {
  font-size: 25px;
  margin: 0 10px;
}

.lifeTotal {
  font-size: 50px;
  margin: 10px;
}

.collapsible-header {
  padding: 0;
}

.dice {
  width: 24px;
  height: 24px;
}